.git
.gitignore
.dockerignore
.env
.env.example
.testregistry
buildprodimage.sh
buildtestimage.sh
updategitdependency.sh
Dockerfile
Dockerfile.dev
node_modules
data
cache
docker-compose.yaml
